<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../input/dist/peony.png">
<script src="https://kit.fontawesome.com/d350c46f41.js" crossorigin="anonymous"></script>

$for(css)$
  <link rel="stylesheet" href="$css$" />
$endfor$

<title>$title$</title>

</head>


<body>

<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

<!-- <a class="navbar-brand" href="https://ledelaney.org" target="_blank">LE 🌺 Delaney | University of Illinois at Chicago &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>

<div class="collapse navbar-collapse" id="navbarColor03">
<ul class="navbar-nav mr-auto">

<li class="nav-item">
<a class="nav-link" href="https://ledelaney.org/cb-materials">Home
</a>
</li>


<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blackboard</a>

<div class="dropdown-menu">
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/blackboard/BIOS-Bb-Tests.html">Tests</a>
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/blackboard/BIOS-Bb-Assignments.html">Assignments and rubrics</a>
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/blackboard/BIOS-Bb-CopyMoveMaterials.html">Copy and move items</a>
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/blackboard/BIOS-Bb-AddMe.html">Add users to courses</a>
</li>


<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Panopto</a>

<div class="dropdown-menu">
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/panopto/BIOS-Panopto-Overview.html">Asynchronous teaching with Panopto</a>
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/panopto/BIOS-Panopto-Assignment.html">Panopto for student assignments</a>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zoom</a>

<div class="dropdown-menu">
<a class="dropdown-item" href="https://ledelaney.org/cb-materials/zoom/BIOS-Zoom-SynchLecture.html">Synchronous teaching with Zoom</a>
</li>

<li class="nav-item">
<a class="nav-link" href="https://ledelaney.org/cb-materials/slack/BIOS-Slack-Overview.html">Slack</a></li>
        
<li class="nav-item">
<a class="nav-link" href="https://uic.zoom.us/j/97999924339?pwd=dFlBdHRUNDZSdCtyYXJsSzZWM1g0QT09">Join Drop-in Hours</a>
</li>
</ul>

<a href="https://bios.uic.edu/" target="_blank"><img src="../input/dist/uic.png" width="50" height="50"></a>
                  
</div>
</div>
</div>
</div>
</div>


<div class="mycontainer">

$if(alert)$

<div class="alert alert-dismissible alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>The Latest</strong><br> $alert_message$
</div>

$endif$


<ul class="nav nav-tabs">
<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>

<div class="dropdown-menu">

$for(my_toc)$
<a class="dropdown-item" href="#$my_toc.link$">$my_toc.title$</a>
$endfor$

$if(pdf_version_top)$
<div class="dropdown-divider"></div>
$pdf_version_top$
$endif$

</div>
</li>
</ul>


<header>
<h1>$title$</h1>
</header>

<br>
<br>

<div class="alert alert-dismissible alert-light">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Legend</strong><br><code>Raw text</code> &nbsp; = &nbsp; Generally what to click on or type in your computer<br> <a href="">Links</a> &nbsp; = &nbsp; Clickable links
</div>

$body$


<footer id="footer">
<div class="row">
<div class="col-lg-12">

<ul class="list-unstyled">
<li><a href="https://ledelaney.org/cb-materials">Home</a></li>
<li><a href="https://github.com/ledelaney/cb-materials" target="_blank">GitHub</a></li>

$if(pdf_version_bottom)$
<li>$pdf_version_bottom$</li>
$endif$

</ul>
<p><small>Compiled by $author$ for UIC Biological Sciences Department &#8729; <a href="https://creativecommons.org/licenses/by-sa/4.0/" target = "_blank"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i></a></small></p>
<p><small>$version$: Updated $date$</small></p>
<p><small>Powered by <i class="fab fa-r-project"></i> and a modified <a href="https://github.com/thomaspark/bootswatch" target="_blank">Cosmo theme</a> from <img src="https://ledelaney.org/css/images/bootswatch.svg" width="13" height="13"></small></p>

</div>
</div>
</footer>
</div>


<!-- dynamically load mathjax for compatibility with self-contained -->
<!-- bless you Brian O'Meara -->
<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>

<script src="../input/dist/jquery.min.js"></script>
<script src="../input/dist/bootstrap.bundle.min.js"></script> 
<script src="../input/dist/custom.js"></script>  

</body>
</html>